<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head  th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title student add page></title>
</head>
<body>
<h1 th:text = "${username}"> </h1>
<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <label>AFTER CARE</label><br>
            <table>
                <tr th:each="student : ${students1}" >
                    <td> <a th:href="'/addstudent/eachstudent/' + ${student.student_id}" th:text="${student.studentFirstName}"style="font-size:25px; "></a></td>
                </tr>
                <tr th:unless="${students1} and ${students1.size()}">No students yet :( </tr>
            </table>

        </div>

        <div class="col-sm">
            <label>BUS LINE</label><br>
            <table>
                <tr th:unless="${students2} and ${students2.size()}">No students yet :( </tr>
                <tr th:each="student : ${students2}">
                    <td> <a th:href="'/addstudent/eachstudent/' + ${student.student_id}" th:text="${student.studentFirstName}"style="font-size:25px; "></a></td>
                </tr>

            </table>
        </div>
        <div class="col-sm">
            <label>CAR LINE</label><br>
            <table>
                <tr th:unless="${students3} and ${students3.size()}">No students yet :( </tr>
                <tr th:each="student : ${students3}" >
                    <td> <a th:href="'/addstudent/eachstudent/' + ${student.student_id}" th:text="${student.studentFirstName}"style="font-size:25px; "></a></td>
                </tr>
            </table>
        </div>
        <div class="col-sm">
            <label>WALKERS</label><br>
            <table>
                <tr th:unless="${students4} and ${students4.size()}">No students yet :( </tr>
                <tr th:each="student : ${students4}" >
                    <td> <a th:href="'/addstudent/eachstudent/' + ${student.student_id}" th:text="${student.studentFirstName}"style="font-size:25px; "></a></td>
                </tr>
            </table>
        </div>
</div>













<!--&lt;!&ndash;</table>&ndash;&gt;-->
<!--<h1 th:text = "${username}"> </h1>-->

<!--     <a> Bus Line</a>-->

<!--</div>-->
<!--<section class="container-fluid">-->
<!--<div class="col-xs-4">-->
<!--        <a th:each="student:${students}">-->
<!--           <li href="/addstudent/eachstudent" th:text="${student.studentFirstName}"></li></a>-->
<!--    </div>-->


<!--    <a> Car Line</a>-->

<!--</div>-->
<!--<div class="col-xs-4">-->
<!--    <a th:each="student:${students}">-->
<!--        <li href="/addstudent/eachstudent" th:text="${student.studentFirstName}"></li></a>-->
<!--</div>-->

<!--</section>-->
<!--</body>-->
<!--</html>-->